<div class="container">
  <h1>Add a Tag to <%= @plant.name.capitalize %></h1>
  <div class="w-25">
    <%= simple_form_for [@plant, @plant_tag] do |f| %>
      <%#= f.association :tag %>
      <%= f.input :tag, collection: Tag.all, input_html: {multiple: true, class: "multiple-select"}, include_hidden: false %>
      <%= f.submit "Add the tag", class: "btn btn-primary"%>
    <% end %>
  </div>
  
</div>